@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Concert One', sans-serif;

  line-height: 1.6;
  margin: 0;
  padding: 0;
  /* background-color: #94cde0; */
  /* background: radial-gradient(circle, #ff7e5f, #feb47b); */
  /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
  /* background: linear-gradient(45deg, #ff66c4, #ffde59); */
  background: radial-gradient(circle, #ffde59, #0cc0df);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
